---
import CutCornerButton from "../components/CutCornerButton";
import InteriorContent from "../components/InteriorContent.astro";
import InteriorHero from "../components/InteriorHero.astro";
import DefaultLayout from "../layouts/Default.astro";
---

<DefaultLayout>
  <InteriorHero>
    <div class="relative">
      <p
        class="uppercase font-extrabold text-center text-zinc-500 tracking-wider"
      >
        Let's Talk
      </p>
      <h1
        class="font-heading font-black text-5xl md:text-6xl lg:text-7xl text-center mt-4"
      >
        Contact Us
      </h1>
      <p
        class="text-center text-xl md:text-2xl mt-6 max-w-xl mx-auto text-zinc-400"
      >
        We are here to help and answer any questions you may have. Reach out to
        us to learn more about our services, get support or to apply for
        positions
      </p>
    </div>
  </InteriorHero>
  <InteriorContent>
    <div class="h-[1000px] max-w-xl mx-auto">
      <h2 class="font-heading font-black text-3xl">
        What can we help you with?
      </h2>
      <form action="" class="flex flex-col mt-8">
        <label for="name">Name</label>
        <div class="relative z-0">
          <div
            class="absolute inset-0 outline outline-2 -outline-offset-2 outline-zinc-700 [mask-image:linear-gradient(225deg,transparent,transparent_10px,black_10px)] group-focus-within:outline-fuchsia-500 -z-10"
          >
          </div>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="absolute right-0 top-0 text-zinc-700 -z-10 group-focus-within:text-fuchsia-500"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 1H12.2667L23 11.7333V24"
              stroke="currentColor"
              stroke-width="2"></path>
          </svg>
          <input
            type="text"
            class="bg-transparent h-12 w-full"
            name="name"
            id="name"
          />
        </div>
        <label for="email" class="mt-4">Email</label>
        <input class="h-12" type="text" name="email" id="email" />
        <label for="message" class="mt-4">Message</label>
        <textarea name="message" id="message"></textarea>
        <CutCornerButton className="mt-4">Send Message</CutCornerButton>
      </form>
    </div>
  </InteriorContent>
</DefaultLayout>
