---
import Hexagon from "./Hexagon";
---

<section class="py-60 relative overflow-x-clip">
  <div class="absolute custom-center">
    <Hexagon size={800} duration={30} client:load />
  </div>
  <div class="absolute custom-center">
    <Hexagon size={1200} duration={50} reverse client:load />
  </div>
  <div class="container">
    <slot />
  </div>
</section>
